h1{
    color: navy;
    font-family: 'Arial', sans-serif;
    text-align: center;
    /* font-weight: 100; */
}

p{
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
    font-family: 'Verdana', sans-serif;
    color: #333333;
    text-align: justify;}